
header .logo {
	margin-top: 10px; 
}
#landing-page {
	margin-top: 20px; 
}
.jumbotron  {
	position: relative; 
	padding-left: 100px; 
	padding-right: 100px;
	padding-top: 150px; 
	// background-image: url('../images/banner-bg.png');
	// background-repeat: repeat-y;
	height: 600px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0d30b+0,f1d67f+51,f0d30b+100 */
	background: #f0d30b; /* Old browsers */
	background: -moz-linear-gradient(top, #f0d30b 0%, #FFEDB2  51%, #f0d30b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f0d30b 0%,#FFEDB2  51%,#f0d30b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f0d30b 0%,#FFEDB2  51%,#f0d30b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0d30b', endColorstr='#f0d30b',GradientType=0 ); /* IE6-9 */

	h1 {font-size: 48px; font-weight: bold; text-transform: capitalize; }
	.banner-text  {
		ul  { margin-top: 24px;  }
		ul li { font-size: 22px; margin-bottom: 3px;}
	}
	

}//jumbotron
section {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 60px; 
}
.about-section {
	    margin-top: 70px;
	padding: 0 200px;
	h3 {text-align: center; font-size: 26px;  }
	text-align: left; 
	margin-bottom: 100px;
	h3 {font-weight: bold; margin-bottom: 10px;  }
	p {font-size: 20px; line-height: 1.5;     text-align-last: center;}


}//about-section

.lp__lear-more {
	///background: #f4f4f4; 
	border-bottom: 1px solid #e2e2e2;
	//border-top: 1px solid #e2e2e2;
	//.outer {padding: 10px 100px;  }
	.active-tab {color: #d9d9d9; }
	.carousel-yello	 {color: #ffb400; }
	.tab-pane { padding-bottom: 20px; padding-top: 40px; }
	ul.nav-tabs {
		text-align:center;
		//margin-top: -52px; 
		margin-left: -15px; margin-right: -15px; 
		li {
    		float: none;
    		display: inline-block;
    		width: 30%;

    	}
    	li.active a {background: #f4f4f4;  color: #000; }
    	li a {background: #d9d9d9; color: #000; border-radius:  10px 10px 0 0;  padding: 10px 15px; font-weight: bold; }
	}
	.tab-content { background: #f4f4f4; padding: 0 200px; margin-left: -15px; margin-right: -15px; 
		p {    font-size: 18px;
    			line-height: 1.4;}
	}
	.tab-content ul { margin-left: 55px;  }
	// anchorl blue text 336699
	
}//lp__lear-more
.lp__lear-more_anchor {
	max-width: 176px;
	display: block;
	position: relative; 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfeff+0,eeeeee+46 */
background: #fcfeff; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfeff 0%, #eeeeee 46%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fcfeff 0%,#eeeeee 46%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fcfeff 0%,#eeeeee 46%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfeff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

	border: 1px solid #cccccc;
	text-decoration: none;
	margin-bottom: 16px; 
	padding: 6px; 
	p.heading {
				font-family: 'Passion One', cursive;
				color: #336699; line-height: 1; 
				font-size: 16px;
				font-size: 30px;
				text-transform: uppercase;
				

	}

	p.small { color: #565656; font-size: 14px; /* font-weight: bold; */   line-height: 1; max-width: 100px; }
	&:hover { text-decoration: none; }
	img {position: absolute; right: 10px; bottom: 10px; display: block;  font-size: 14px; width: 40px; height: auto; }


}


.lp__testimonial {
	//max-width: 1100px;
	margin: 0 auto;
	padding: 20px 200px;
	margin-bottom: 80px; 

	.lp__testimonial__block {
		p {color: #979191; }
		img {display: inline-block;  margin-right: 10px; position: relative; width: 100px; height: auto; }
		.msg { font-style: italic; line-height: 1; font-size: 16px;  margin-top: 24px; }
		p.customer {font-size: 14px; }
		span.black {color: #000; }
	 	padding: 24px 0;
 	    border-bottom: 2px solid #ededed;
 	    span.fa {display: block; background: #ddd; width: 38px; height: 38px; position: absolute; right: 0; bottom: 0; padding: 14px; 
				font-size: 12px; 
				color: #fff; 

 	    }
	}
	
}// end 

.lp__before-and-after {
	 position: relative;
	 text-align: center; 
	 h3 {margin-bottom: 30px; }
	.inner	{padding: 40px 200px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin-right: -15px; margin-left: -15px;   }
	.btn-top { position: absolute; right: 50%; top: -20px; left: 42%; min-width: 200px; border-radius: 0;  }
	.btn-div .btn { margin-bottom: -100px; border: 6px solid #ededed; border-radius: 4px; }
	 ul li img {width: 140px; height: auto; }
	 //.btn-border {  }
	
}// end 



.lp__blog{
	padding: 10px 200px;
	h4 {color: #003e78; font-size: 22px; }
	ul li  { padding-bottom: 16px;  border-bottom: 1px solid #d1d1d1;     margin-bottom: 16px; max-width: 94%; }
	ul li a { color: #262626;  /* padding-bottom: 20px; */ text-decoration: none; font-size: 16px; font-weight: bold; text-decoration: underline; }
	.dr-msg {background: #eef7ff; border: 1px solid #0163be; padding: 24px; position: relative; min-height: 400px;
		.title {
			display: inline-block;
			h5 {font-size: 18px;
    			font-weight: bold;
    			margin: 0;  }
    		h4 {color: #000; font-weight: bold;  }
		}
		p { margin: 0px;  margin-top: 8px; font-size: 14px;  /* max-width: 300px; */ line-height: 1.5; }
		
		img {width: 90px; height: auto; display: inline-block;  vertical-align: text-bottom; margin-right: 20px;  }
	  }
	 .m-b-30 {margin-bottom: 20px; }
}
.lp__faqs {
	background: #fefbf3; 
	border-bottom: 1px solid #c9c9c9; 
	border-top: 1px solid #c9c9c9;
	padding: 50px 200px;
	.lp__faqs_heading {
		position: relative; 
		background: #fdc92b;
		border-radius: 4px; 
		padding: 14px 20px;
		margin-bottom: 50px;

		p {margin-bottom: 0; font-weight: bold; }
		// tab border e0e0e0
		img {position: absolute; right: 30px; top: -20px; width: 80px; height: auto;  }

	}
	.panel-default>.panel-heading {
    	
    	background-color: #fff; 
	}
	.panel-group .panel {
	    margin-bottom: 14px; 
	}
	.panel-heading a { 
		position: relative;
		display: inline-block;
    	width: 100%;
	
	}
	.panel-heading a:after {
	font-family: "FontAwesome";
	content: "\f147";
	position: absolute;
	right: 15px;
	font-size: 14px;
	font-weight: 300;
	top: 50%;
	line-height: 1;
	margin-top: -7px;
	}
	.panel-heading a.collapsed:after {
		content: "\f196";
	}
}// 

/* .lp__appointmetn-bottom {
	padding: 10px 200px; 
	.innner {border: 2px solid #ffbf87; border-radius: 4px; width: 500px; height: 400px; margin: 0 auto;  }
}// */
.bold {font-weight: bold; }

// ================================== Form  ==================================
.lp__appointmetn-bottom {
	
	.innner	{
			padding: 20px 40px; 
		border: 6px solid #ffbf87;
		border-radius: 6px;
		.col-md-5, .col-md-7 {padding-left: 30px; padding-right: 30px; }
		.col-md-5 {border-right: 2px solid #ddd; }
		.col-md-5 {padding-left: 0; padding-right: 10px;}
	}
	.treatment-block {
		border: 1px solid #ffbf87; 
		border-radius: 4px;
		padding: 10px 20px;
		margin-bottom: 10px; 
		h4 {font-weight: bold; margin-bottom: 4px;} 

		i {display: inline-block; font-size: 36px; color: #ffbf87; margin-top: 12px;
   			float: right; }

	}
	p.footer-text {
		 	margin-top: 20px; color: #ff7700;  padding: 10px 15px;
		i {margin-right: 10px; }
	} 
	.orange{ color: #ffbf87; }
}
#landing-form {
		position: absolute;
		top: -100px; 
		left: 25%; 
		z-index: 9999; 
		max-width: 500px;
		background: #fff;  
		
		padding: 20px 20px 20px; 
		border: 6px solid rgba(173, 90, 10, 0.8);
		border-radius: 6px;
		margin-right: auto; 
		margin-left: auto;
		padding-top: 6px;
		

		.gform_wrapper .gfield_required {
			color: #790000;
			margin-left: 4px;
			display: none;
			}

		.gform_wrapper .gform_heading {
		    width: 98%;
		    margin-bottom: 0;
		}

		.gform_wrapper div.validation_error {
		    margin-bottom: 0; 
		}

		.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
		    background-color: #fff;
		    margin-bottom: .375em!important;
		    padding: 0;
		    border-top: 0px solid #C89797;
		    border-bottom: 0px solid #C89797;
		}

		.gform_wrapper .datepicker {
		    width: 100% !important;
		}

		.gform_wrapper div.validation_error {
		    color: #790000;
		    font-size: 1em;
		    font-weight: 400;
		    margin-bottom: 0;
		    border-top: 0px solid #790000;
		    border-bottom: 0px solid #790000;
		    padding: 0;
		    clear: both;
		    width: 97.5%;
		}

		.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
			// margin-bottom: 10px; text-transform: uppercase; padding: 8px 12px; font-size: 22px; 
			  color: #ffffff;
			  background-color: #fa8f3e;
			  border-color: #793c1a;display: inline-block;
			  padding: 6px 12px;
			  margin-bottom: 0;
			  font-size: 14px;
			  font-weight: normal;
			  line-height: 1.42857143;
			  text-align: center;
			  white-space: nowrap;
			  vertical-align: middle;
			  -ms-touch-action: manipulation;
			      touch-action: manipulation;
			  cursor: pointer;
			  -webkit-user-select: none;
			     -moz-user-select: none;
			      -ms-user-select: none;
			          user-select: none;
			  background-image: none;
			  border: 1px solid transparent;
			  border-radius: 4px;
		}

		.gform_wrapper .gfield_checkbox li, .gform_wrapper .gfield_radio li {
		    position: relative;
		     margin: 0; 
		    
		}

		.gform_wrapper h3.gform_title {
		    letter-spacing: normal!important;
		    margin: 0px;
		    margin-bottom: 20px;
		}

		.gform_wrapper label.gfield_label+div.ginput_container {
		     margin-top: 0; 
		}
		.gform_wrapper label {
			display: none !important; 
				font-size: 16px;

		}
		.gform_wrapper .gfield_checkbox label {
			display: block !important; 
		}

		.ginput_container input {
			    margin-bottom: 12px;
			    padding-top: 10px;
    			padding-left: 6px;
		}
	
		.gform_wrapper .gform_footer {
	    	 padding: 0; 
		    margin: 1em 0 0;
		    clear: both; 
			}

			.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
			    max-width: 100%;
			    padding-right: 6px!important;
			    margin-top: -22px;
			}

			.gform_confirmation_message_1 .gform_confirmation_message {
				margin-bottom: 10px; 
			}




		h2 {text-align: center; margin-bottom: 20px; }
		.form-control {border-radius: 0; margin-bottom: 20px;  height: 40px; }
		.btn {margin-bottom: 10px; text-transform: uppercase; padding: 8px 12px; font-size: 22px; 
				
		 }
		input {   width: 100%; }
		.form-group { input {    width: 100%; } }

	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color:    #000;
	    font-size: 0.9em;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    #000;
	   font-size: 0.9em;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    #000;
	   font-size: 0.9em;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color:    #000;
	   font-size: 0.9em;
	}
	:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
	  color:    #000;
	  font-size: 0.9em;
	}

	.btn-sample {
	  color: #ffffff;
	  background-color: #fa8f3e;
	  border-color: #793c1a;
	  &:hover, &:focus, &:active, &.active {
	    color: #ffffff;
	    background-color: #fa8f3e;
	    border-color: #793c1a;
	  }
	}

}// form 

#landing-form-2 {
		
		
		max-width: 500px;
		background: #fff;  
		padding: 0px 15px; 
		
		margin-right: auto; 
		margin-left: auto;
			
			background: #fff;  
			
			
			margin-right: auto; 
			margin-left: auto;

			.gform_wrapper .gfield_required {
				color: #790000;
				margin-left: 4px;
				display: none;
				}

			.gform_wrapper .gform_heading {
			    width: 98%;
			    margin-bottom: 0;
			}

			.gform_wrapper div.validation_error {
			    margin-bottom: 0; 
			}

			.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
			    background-color: #fff;
			    margin-bottom: .375em!important;
			    padding: 0;
			    border-top: 0px solid #C89797;
			    border-bottom: 0px solid #C89797;
			}

			.gform_wrapper .datepicker {
			    width: 100% !important;
			}

			.gform_wrapper div.validation_error {
			    color: #790000;
			    font-size: 1em;
			    font-weight: 400;
			    margin-bottom: 0;
			    border-top: 0px solid #790000;
			    border-bottom: 0px solid #790000;
			    padding: 0;
			    clear: both;
			    width: 97.5%;
			}

			.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
				// margin-bottom: 10px; text-transform: uppercase; padding: 8px 12px; font-size: 22px; 
				  color: #ffffff;
				  background-color: #fa8f3e;
				  border-color: #793c1a;display: inline-block;
				  padding: 6px 12px;
				  margin-bottom: 0;
				  font-size: 14px;
				  font-weight: normal;
				  line-height: 1.42857143;
				  text-align: center;
				  white-space: nowrap;
				  vertical-align: middle;
				  -ms-touch-action: manipulation;
				      touch-action: manipulation;
				  cursor: pointer;
				  -webkit-user-select: none;
				     -moz-user-select: none;
				      -ms-user-select: none;
				          user-select: none;
				  background-image: none;
				  border: 1px solid transparent;
				  border-radius: 4px;
			}

			.gform_wrapper .gfield_checkbox li, .gform_wrapper .gfield_radio li {
			    position: relative;
			     margin: 0; 
			    
			}

			.gform_wrapper h3.gform_title {
			    letter-spacing: normal!important;
			    margin: 0px;
			     margin-bottom: 20px;
			}

			.gform_wrapper label.gfield_label+div.ginput_container {
			     margin-top: 0; 
			}
			.gform_wrapper label {
				display: none !important;
				font-size: 18px;
			}
			.gform_wrapper .gfield_checkbox label {
				display: block !important; 
			}

			.ginput_container input {
				    margin-bottom: 16px;
			}
		
			.gform_wrapper .gform_footer {
		    	 padding: 0; 
			    margin: 1em 0 0;
			    clear: both; 
				}

				.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
				    max-width: 100%;
				    padding-right: 6px!important;
				    margin-top: -22px;
				}

				.gform_confirmation_message_1 .gform_confirmation_message {
					margin-bottom: 10px; 
				}




			h2 {text-align: center; margin-bottom: 20px; }
			.form-control {border-radius: 0; margin-bottom: 20px;  height: 40px; }
			.btn {margin-bottom: 10px; text-transform: uppercase; padding: 8px 12px; font-size: 22px; 
					
			 }
			input {   width: 100%; }
			.form-group { input {    width: 100%; } }

		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		    color:    #000;
		    font-size: 0.9em;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    #000;
		   font-size: 0.9em;
		   opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    #000;
		   font-size: 0.9em;
		   opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    #000;
		   font-size: 0.9em;
		}
		:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
		  color:    #000;
		  font-size: 0.9em;
		}

		.btn-sample {
		  color: #ffffff;
		  background-color: #fa8f3e;
		  border-color: #793c1a;
		  &:hover, &:focus, &:active, &.active {
		    color: #ffffff;
		    background-color: #fa8f3e;
		    border-color: #793c1a;
		  }
		}

		

	

	.btn-sample {
	  color: #ffffff;
	  background-color: #fa8f3e;
	  border-color: #793c1a;
	  &:hover, &:focus, &:active, &.active {
	    color: #ffffff;
	    background-color: #fa8f3e;
	    border-color: #793c1a;
	  }
	}

}// form 


//  ====================================Carouse Setting ==========================

//  ==============================================================================


  #carousel-1 {
        position: relative;
    }
    #demo .item{
      margin: 3px;
    }
    #demo .item img{
      display: block;
     width: 100px;
        height: 129px;
    }

     #demo-2 .item{
      margin: 3px;
    }
    #demo-2 .item img{
      display: block;
     width: 100px;
        height: 129px;
    }

    .owl-carousel .owl-wrapper-outer {
        overflow: hidden;
        position: relative;
        width: 100%;
        border: 2px solid #FFB200;
        padding: 12px;
        background: #fff; 
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .carousel-1 .indicator-next,.carousel-1 .indicator-pre  {
        display: block; 
        cursor: pointer;
        width: 45px; 
        height: 45px; 
        position: absolute;
    }
     .indicator-next {
        right: -11px; 
        top: 41%;   
     }
     .indicator-pre  { 
           left: -11px; 
        top: 41%;   
     }



//===================================buttons ==========================

 .btn-orange-top { 
  color: #ffffff; 
  background-color: #ffae00; 
  border-color: #ffae00; 
} 
 
.btn-orange-top:hover, 
.btn-orange-top:focus, 
.btn-orange-top:active, 
.btn-orange-top.active, { 
  color: #ffffff; 
  background-color: #E69500; 
  border-color: #E69500; 
} 
//================
.btn-orange-btm { 
  color: #ffffff; 
  background-color: #ea641f; 
  border-color: #ea641f; 
} 
 
.btn-orange-btm:hover, 
.btn-orange-btm:focus, 
.btn-orange-btm:active, 
.btn-orange-btm.active, { 
  color: #ffffff; 
  background-color: #D14B06; 
  border-color: #D14B06; 
} 
//================
.btn-orange-2 { 
  color: #ffffff; 
  background-color: #a26565; 
  border-color: #a26565; 
} 
 
.btn-orange-2:hover, 
.btn-orange-2:focus, 
.btn-orange-2:active, 
.btn-orange-2.active, { 
  color: #ffffff; 
  background-color: #894C4C; 
  border-color: #894C4C; 
} 
 
//top button color ffae00
	//bottom orange colro ea641f
	// right color a26565



@media (max-width: 767px) {
  
  .lp__before-and-after .inner {
	    padding: 40px 100px; 
	}
	
	.lp__blog {
    	padding: 10px 100px;
	}
	
	.lp__faqs {
  	  padding: 50px 100px; 
  	}
  	.lp__lear-more .tab-content {
	    padding: 0 100px; 
	}

	.lp__appointmetn-bottom {
		padding: 10px 100px;  
	}
	.lp__lear-more .tab-content ul {
     
     float: none; 

     li a { margin-right: 6px; float: left;  }

	}

	.lp__testimonial {
    	padding: 20px 100px; 
    }
    .about-section {
    	    padding: 0 100px;
	    margin-bottom: 50px;
	    margin-top: 330px;
	}
	
	section {
		
		margin-bottom: 40px; 
	}
	.jumbotron {
    
	    padding-left: 50px;
	    padding-right: 50px;
	    padding-top: 36px; 
	}

	#landing-form {
    
    	top: 10px; 
	}

	

}
@media (min-width: 768px) and (max-width: 991px) {
 	
 	
 	.lp__before-and-after .inner {
	    padding: 40px 100px; 
	}
	
	.lp__blog {
    	padding: 10px 100px;
	}
	
	.lp__faqs {
  	  padding: 50px 100px; 
  	}
  	.lp__lear-more .tab-content {
	    padding: 0 100px; 
	}
	.lp__testimonial {
    	padding: 20px 100px; 
    }
    .lp__appointmetn-bottom {
		padding: 10px 100px;  
	}

     .about-section {
    	    padding: 0 100px;
	    margin-bottom: 50px;
	}

	.jumbotron {
	    position: relative;
	    padding-left: 50px;
	    padding-right: 50px;
	    padding-top: 100px;
	} 
}

@media (min-width: 992px) and (max-width: 1199px) {
  
	.lp__testimonial {
    	padding: 20px 100px; 
    }
     .lp__appointmetn-bottom {
		padding: 10px 100px;  
	}
	#landing-form {

    left: 10%; 
	}
	
	.lp__lear-more .tab-content ul {
    	margin-left: 15px;
	}

}
@media (min-width: 1200px) {
   .lp__appointmetn-bottom {
		padding: 10px 200px;  
	}

	#landing-form {
		min-width: 462px;
	}
}
.visible-print {
  display: none !important;
}




@media (min-width: 1200px) { 
  .navbar-default .navbar-nav > li > a {
      padding: 17px 21px;
  }
}
@media (min-width: 768px) { 
  .navbar-nav {
   float: right; 
  }
}
.navbar {
  margin-top: 64px; 
      width: 94%;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-default .navbar-nav > li > a {
   
    font-size: 16px;
         border-right: 0; 
    padding: 17px 13px;
}

.navbar-default {
       background: transparent;
  border-right: 0;
  border-left: 0;
  border: 0;
      margin-left: auto;
/*       margin-right: auto; */
   
}
.navbar-default .navbar-nav > li:nth-child(1) {
    border-left: 0;
}
header {
 
    padding-top: 0;
}


.m-b-40 {
	    margin-bottom: 40px !important;
}

.do-you-know {
	padding: 20px; 
	border: 3px solid #f7ad7b; 
	border-radius: 4px; 
	background: #fefbe7;
	max-width: 850px; 
	margin-left: auto;
	margin-right: auto; 
	text-align: center; 
	h3 {color: #f16c13; margin-top: 0; font-weight: bold;  }
	p.red {color: #c60000;}
	.bnt {padding: 6px 12px; }
	.m-b-20 { margin-bottom: 20px; }
	.m-b-30 { margin-bottom: 30px; }
	.m-b-40 { margin-bottom: 40px; }
	.no-m-b { margin-bottom: 0; }

}


